.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

#logo {
  margin-right: calc(100% - 327px);
}

#separator {
  margin-right: 0;
}

.dropdown {
  display: block;
}

.dropdown > .navigation {
  flex-direction: column;
}
