.mobile-only {
  display: block;
}

#content-wrapper, #content-wrapper + #footer {
  top: 79px;
}

#top-header {
  padding: 4px 16px;
}

#logo, #separator {
  margin-right: 0;
}

#nav {
  flex-direction: column;
}

#nav > #logo {
  display: inline-block;
}

#nav > :not(#logo, #login-logout) {
  padding: 0.25rem;
}
