.mobile-only {
  display: block;
}

#logo, #separator {
  margin-right: 0;
}

#nav {
  flex-direction: column;
}

#nav > #logo {
  display: inline-block;
}

#nav > :not(#logo) {
  padding: 0.25rem;
}
