:root {
  font-size: 80%;
}

#nav-button {
  width: 44px;
  height: 44px;
}

#breadcrumb{
  top: 72px;
}

.first.container {
  padding-top: calc(73px + 3rem);
}

.subtitle-panel {
  position: static;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-right-width: 0;
  border-bottom-width: 5px;
}

.subcontainers {
  position: static;
  width: 100%;
}

.first.container > .subcontainers {
  padding-top: 16px;
}

.grid-subcontainer {
  grid-template-columns: 1fr 1fr;
}
