@page {
  size: 210mm 297mm;
  margin: 30mm;
}

* {
  background-color: white;
  border-color: black;
  color: black;
  z-index: 0;
  border-bottom-width: 0 !important;
}

#logo {
  background: none;
}

#nav {
  flex-direction: column;
}

.dropdown-content > * {
  display: block;
}

.allergene {
  text-decoration-color: black;
}

.text-button, .button {
  display: none;
}

a:link:after, a:visited:after {
  content: " [ " attr(href) "]";
}

body {
  font-size: 12pt;
}

a[href]::after{content: "(" attr(href) ")"}

#top-header, #breadcrumb {
  position: static;
}

#content-wrapper, #content-wrapper + #footer {
  top: 64px;
}

#breadcrumb{
  left: 0;
  width: 100%;
}

.subtitle-panel, .subtitle-fixed-panel {
  position: static;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-right-width: 0;
  border-bottom-width: 5px;
}

.subtitle-fixed-panel {
  padding-top: 0;
}

.subtitle-fixed-panel > h2 {
  width: 100%;
  margin-bottom: 0;
}

.subtitle-fixed-panel li {
  display: inline;
}

.fake-subtitle {
  display: none;
}

.subcontainers {
  position: static;
  width: 100%;
}

.subcontainer {
  border-width: 0;
  padding: 0;
}

.grid-subcontainer {
  grid-template-columns: 1fr 1fr;
}
