/* Dimensione della pagina stampata */

@page {
  size: 210mm 297mm;
  margin: 30mm;
}


.allergene {
  color: black;
}

#logo , #menu-botton {
  display: none;
}

#top-header {
  border-bottom:1mm solid black;
  border-top:1mm solid black;
}

.text-button * {
  display: none;
}

.button {
  display:none;
}

.navigation {
  display: none;
}

a:link, a:visited {
  font-weight:bold;
  text-decoration: underline;
  color:#009;
}

a:link:after, a:visited:after {
  content: " [ " attr(href) "]";
}

/*page-break-after;*/

body {
  font-size: 12pt;
}

#breadcrumb{
  display:none;
}

.container {
  width: auto;
}

#menu, #links {
  display:none;
}

#menu, #news {
  position: static;
  float: none;
}

* {
  background: transparent !important;
  color: black;
}

a, a:visited {
  color: var(--link_color) !important;
}

a[href]::after{content: "(" attr(href) ")"}

.first.container {
  padding-top: calc(73px + 3rem);
}

.subtitle-panel {
  position: static;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-right-width: 0;
  border-bottom-width: 5px;
}

.subcontainers {
  position: static;
  width: 100%;
}

.first.container > .subcontainers {
  padding-top: 16px;
}

.grid-subcontainer {
  grid-template-columns: 1fr 1fr;
}
