@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --orange: #FFAE42;
  --light_orange: #FCD299;
  --brown: #80471C;
  --dark_brown: #65350F;
  --yellow: #F5EF42;
  --white: #FFFFFF;
  --gray: #B5AB9E;
  --font: 'Poppins', sans-serif, 'Arial', sans-serif;
  --link_color: #1C2833;
  --link_visited: #360000;
  font-size: 100%;
}

#footer{
  background-color:#FFF68F;
  color:#FFF8DC;
}

#copyright{
  color:#FFF8DC;
  text-align:center;
}

* {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-color: var(--brown);
  border-style: solid;
  font-family: var(--font);
}

h2, h3, h3, h5 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

h4 {
  font-size: 1.125rem;
  margin: 1.125rem 0;
}

h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

p, ul, ol, dl {
  margin: 1rem 0;
}

fieldset, legend {
  padding: 0;
}

fieldset > legend {
  width: 100%;
}

fieldset > legend * {
  text-align: center;
}

form .submit {
  width: 80%;
  margin: 1rem auto;
}

label, input, select, button {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}

label:nth-child(1) {
  display: inline-block;
  margin-bottom: 0;
}

label + label {
  display: block;
  margin-top: 0;
}

select {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

input[type = "checkbox"], input[type = "checkbox"] + label {
  display: inline-block;
  margin-right: 1rem;
}

input[type = "text"], input[type = "password"], input[type = "email"], input[type = "date"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color .25s;
}

input[type = "text"]:focus, input[type = "email"]:focus, input[type = "password"]:focus, input[type = "date"]:focus {
  background-color: rgba(0, 0, 0, 0.01);
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

a, button, input[type = "reset"], input[type = "submit"] {
  cursor: pointer;
}

button, input[type = "reset"], input[type = "submit"] {
  padding: 1em;
}

input[disabled], input:disabled, button[disabled], button:disabled {
  cursor: default;
}

header a, main a, footer a {
  color: var(--link_color);
}

header a:visited, main a:visited, footer a:visited {
  color: var(--link_visited);
}

main {
  background-color: var(--light_orange);
}

#footer {
  position: sticky;
  padding: 1rem;
  background-color: #FFF68F;
  color: var(--link_color);
}

#copyright {
  text-align: center;
  color:black;
}

/*----------regole classi generiche----------*/

.screenreader {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mobile-only {
  display: none;
}

button.link {
  padding: 0;
  margin: 0;
  background: transparent;
  color: var(--link_color);
  text-decoration: underline;
}

.text-button {
  display: block;
  padding: 1.25em;
  border-radius: 1.75em;
  background-color: var(--brown);
  line-height: 1;
  text-align: center;
  transition: background-color .25s;
}

.text-button:hover {
  background-color: var(--dark_brown);
}

.text-button, .text-button * {
  color: var(--white) !important;
  text-decoration: none;
}

input.text-button, button.text-button {
  width: 100%;
}

input[disabled].text-button, input:disabled.text-button, button[disabled].text-button, button:disabled.text-button {
  background-color: var(--gray);
}

.button {
  padding: 0;
  background-color: inherit;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup > .popup-inner {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.popup .message {
  text-align: center;
}

.alert-box {
  width: 100%;
  padding: 1rem;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
}

.success {
  background-color: rgba(75, 181, 67, .2);
  border-color: #2B9523;
  color: #2B9523;
}

.danger {
  background-color: rgba(243, 32, 19, .2);
  border-color: #D30000;
  color: #D30000;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1em;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .125s;
}

.menu li:hover {
  background-color: var(--light_orange);
  cursor: pointer;
}

.menu .checked {
  border-width: 1px;
  color: var(--brown);
  font-weight: bold;
}

.menu .checked, .menu .checked:hover {
  background-color: var(--orange);
}

.list-image.menu li {
  padding: 1.5em 1em;
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box;
}

.list-image.menu li::before {
  content: "";
  padding-left: 60px;
}

.background {
  background-size: cover;
}

.canceled {
  text-decoration: line-through;
  color: #A3A3A3;
}

.allergene {
  font-weight: bold;
  text-decoration: underline 2px;
}

dt.allergene {width: 25%;}

.allergene::after {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.allergene-1 {text-decoration-color: #DE8043;}

dt.allergene-1 {background-color: #DE8043;}

.allergene-1::after {content: "Allergene 1 - Glutine";}

.allergene-2 {text-decoration-color: #00ADEF;}

dt.allergene-2 {background-color: #00ADEF;}

.allergene-2::after {content: "Allergene 2 - Crostacei";}

.allergene-3 {text-decoration-color: #FFFF00;}

dt.allergene-3 {background-color: #FFFF00;}

.allergene-3::after {content: "Allergene 3 - Uova";}

.allergene-4 {text-decoration-color: #2C3790;}

dt.allergene-4 {background-color: #2C3790;}

.allergene-4::after {content: "Allergene 4 - Pesce";}

.allergene-5 {text-decoration-color: #B57F50;}

dt.allergene-5 {background-color: #B57F50;}

.allergene-5::after {content: "Allergene 5 - Arachidi";}

.allergene-6 {text-decoration-color: #00A551;}

dt.allergene-6 {background-color: #00A551;}

.allergene-6::after {content: "Allergene 6 - Soia";}

.allergene-7 {text-decoration-color: #FFFFFF;}

dt.allergene-7 {background-color: #FFFFFF;}

.allergene-7::after {content: "Allergene 7 - Latte";}

.allergene-8 {text-decoration-color: #BE5856;}

dt.allergene-8 {background-color: #BE5856;}

.allergene-8::after {content: "Allergene 8 - Frutta a guscio";}

.allergene-9 {text-decoration-color: #80CB28;}

dt.allergene-9 {background-color: #80CB28;}

.allergene-9::after {content: "Allergene 9 - Sedano";}

.allergene-10 {text-decoration-color: #BC9B3C;}

dt.allergene-10 {background-color: #BC9B3C;}

.allergene-10::after {content: "Allergene 10 - Senape";}

.allergene-11 {text-decoration-color: #A4997D;}

dt.allergene-11 {background-color: #A4997D;}

.allergene-11::after {content: "Allergene 11 - Semi di sesamo";}

.allergene-12 {text-decoration-color: #77144B;}

dt.allergene-12 {background-color: #77144B;}

.allergene-12::after {content: "Allergene 12 - Solfiti";}

.allergene-13 {text-decoration-color: #68CFE2;}

dt.allergene-13 {background-color: #68CFE2;}

.allergene-13::after {content: "Allergene 13 - Molluschi";}

.allergene-14 {text-decoration-color: #F7DF65;}

dt.allergene-14 {background-color: #F7DF65;}

.allergene-14::after {content: "Allergene 14 - Lupini";}

/*----------stile header----------*/

#top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: auto;
  padding: 8px 16px;
  border-bottom-width: 5px;
  background-color: var(--orange);
  font-size: 16px;
}

#nav > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 59px;
  margin: 8px 16px;
  background-image: url("../images/hamburger_icon.png");
}

#nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav > li {
  list-style: none;
}

#breadcrumb {
  position: absolute;
  top: 87px;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  border-bottom-width: 1px;
  background-color: var(--orange);
  text-align: right;
  line-height: 1;
}

/*----------contenitori generici----------*/

.container {
  position: relative;
  min-height: 100vh;
  border-bottom-width: 1px;
}

.subtitle-panel, .subtitle-fixed-panel {
  display: flex;
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-right-width: 5px;
  background-color: var(--white);
}

.subtitle-panel h2, .subtitle-fixed-panel h2 {
  text-align: center;
}

.subtitle-panel {
  justify-content: center;
}

.subtitle-fixed-panel {
  position: fixed;
  padding-top: 160px;
  justify-content: space-between;
}

.subtitle-fixed-panel * {
  width: 100%;
}

.first.container {
  padding-top: 87px;
}

.subcontainers {
  position: relative;
  left: 25%;
  width: 75%;
  padding: 1rem;
}

.first.container > .subcontainers {
  padding-top: calc(3rem + 1px + 1rem);
}

.next-container {
  width: 40px;
  height: 40px;
  background-image: url("../images/down.png");
}

.subcontainer, .subsubcontainer, .popup-inner {
  padding: 0 1rem;
  border-width: 1px;
  border-radius: 1rem;
}

.subcontainer {
  margin: 1rem 0;
  background-color: var(--white);
}

:not(.subcontainer) > .subcontainer:nth-child(1) {
  margin-top: 0;
}

:not(.subcontainer) > .subcontainer:nth-last-child(1) {
  margin-bottom: 0;
}

.grid-subcontainer {
  display: grid;
  display: ms-grid;
  height: 100%;
  padding: 16px;
  column-gap: 16px;
  row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
}

.subsubcontainer {
  position: relative;
  padding-bottom: 41px;
  background-color: var(--orange);
}

/*----------pagina index----------*/

#news {
  background-image: url("../images/pizza_home.jpg");
  background-position: center;
}

/*----------pagina contatti----------*/

#map {
  width: 100%;
  height: 500px;
  padding: 0;
}

/*----------pagina menù----------*/

#allergeni {
  display: table;
}

.table {
  display: table;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
  border-width: 1px;
}

.table-row > * {
  border-right-width: 1px;
  padding: 1rem;
}

#allergeni dt, #allergeni dd {
  display: table-cell;
}

/*-------parte prenotazione tavolo------------*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #262626;
  border-radius: 10px;
  font-weight: 600;
  min-width: 100px;
  transition: 0.2s ease;
  outline: 0;
  width: 324px;
}

.btn:hover {
  color: #FFF;
  background: #455AF7;
}

.btn-small {
  min-width: 50px;
}


.btn-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  outline: 0;
  border-radius: 10px;
  transition: 0.4s all;
}

.btn-day.active {
  color: #FFF;
  font-weight: 600;
  z-index: 1;
}

#today {
	position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: blue;
	color: #FFF;
  font-weight: 600;
}

.btn-day.active::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: #455AF7;
  border-radius: 10px;
  z-index: -1;
}

.text-field {
  padding: 10px;
  height: 50px;
  width: 200px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin: 0px 10px 0 0;
}

/* Calendar */

.calendario  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background: #ecf1f8;
}

.calendar-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

#currentDate{
  text-align:center;
  font-size:20px;
  padding: 1em;
}

.field {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.field label {
  margin: 2px;
}

.form-input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: 370px;
  width: 324px;
  border-radius: 18px;
  background: #ffffff;
  padding: 10px;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px 18px 0px 0px;
  height: 50px;
  width: 100%;
  color: #262626;
}

.month {
  font-size: 0.7em;
}

.icon {
  padding: 10px;
  font-size: 1em;
  margin: 0 0 0 5px;
  background: #ffffff;
  color: #455af7;
  border: none;
  outline: 0;
}

#calendar {
  width: 100%;
}

.weekends th {
  font-size: 1em;
  color: red;
  font-weight: 400;
  width: 40px;
  margin: 10px 0;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#calendar td {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#numeroPersone, #orario {
	text-align: center;
}

#titoloPrenotaT {
  position: relative;
  left: -1em;
  width: calc(100% + 2em);
	background-color: #FFAE42;
	border-radius: 1rem;
}

/*-------fine prenotazione tavolo------------*/

/*-------inizio ordina online------------*/
.nonVisibile ,.PnonVisibile, .flipP, #contenutiNonVisibili input[type=text]{
  display: none;
}

#orderPanel{justify-content: initial;}

.total {
	box-shadow: 2px 2px 4px black;
	text-align: right;
  width: 100%;
}

#totale{
  margin: 0;
  align-items: center;
  padding: 1em;
}

.total h2{
  margin: 0;
  align-items: center;
  padding: 1em;
  float: left;
  padding-right: 0;
  padding-left: 10px;
}

.scelta {
	padding-bottom: 15em;
	border-style: none;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #c3c3c3;
}

.scelta h2 , .listino h2 {
	text-align: center;
}

.scelta h2 {
	margin: 0em;
	padding-top: 1em;
}

#ritiroBox, #consegnaBox {
	float: left;
  width: 50%;
  text-align: center;
}

#ritiroBox img, #consegnaBox img {
	background-position: top center;
  margin-bottom: 10px;
	height: 5em;
	width: 5em;;
}

#scegliOrario, #inserisciIndirizzo {
  margin: 1em;
}

.tipiPrincipali {
	box-shadow: 2px 2px 4px black;
}

.tipiPrincipali, .tipiPrincipali ul {
  padding: 0;
	list-style-type: none;
}

.tipi > h3 {
	margin: 0;
  padding: 1.25rem;
	background-color: #bf7b21;
}

.tipi li {
  padding-left: 16px;
}

.tipi li, #dolciFlip {
	cursor: pointer;
}

.tipi li:hover, #dolciFlip:hover {
	color: #bfb721;
	text-decoration: underline;
}

#classiche, #speciali, #bianche, #calzoni, #bevande, #birre, #vini, #dolci {
  padding: 16px;
}

#riepilogo, #riepilogoP {
  width: 100%;
  height: 100%;
  display: inline;
  background: #EEEEEE;
  overflow-y: auto;
}

.item_add {
  position: absolute;
  left: 16px;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-image: url(../images/add_icon.png);
}

.remove-product {
  width: 20px;
  height: 20px;
  background-image: url(../images/delete_icon.png);
}

.product, .headerP {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a73131;
}

.product > *, .headerP > * {
  display: inline-block;
}



.productName, .productNameP {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.productNameP{width: 25%}

.productPrice{
  width: 25%;
}

.productLinePrice, .productLinePriceP {
  width: 25%;
  text-align: center;
}

.productRemoval {
  width: 25%;
  text-align: center;

}

.productRemoval button {
  margin: 0;
}

.productQuantity, .productQuantityP {
  width: 15%;
  text-align: center;

}

.productQuantity input {
  width: 40px;
  margin: 0;
}

.segno, .segnoP {
  width: 10%;
}

/*-------fine ordina online------------*/

/*-------inizio pagamento------------*/

.containerP {
  border-width: 1px;
  border-radius: 16px;
  background: #EEEEEE;
  padding: 1em;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 1em;

}

#riepilogoP{
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 3px solid #000000;
}

.headerP {
  font-weight: bold;
  font-size: 18px;
  color: #a73131;
}


/*-------fine pagamento------------*/

/*----------pagina login----------*/

#login-container {
  display: flex;
  min-height: 750px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_background.jpg");
}

#login-form {
  height: 100%;
  width: 480px;
  padding: 3rem;
  background-color: var(--yellow);
}

#post {
  width: 80%;
  margin: 4rem 10%;
}

/*----------pagina admin----------------*/

div#hovermenu {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  background: #FCD299;
  }

div#hovermenu ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

div#hovermenu li
{
width:100px;
float:left;
margin: 0;
padding: 0;
border: 1px solid black;
color:black;
list-style-type: none;
}

div#hovermenu a
{
display: block;
padding: 5px;
color: #000;
text-decoration: none;
}
div#hovermenu a:hover
{
background-color: #000033;
color: #FFFFFF;
text-decoration: none;
}

div#hovermenu li ul
{
display: none
}

div#hovermenu li:hover ul
{
display: block;
position: absolute;
z-index:1;
width:150px;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
background: white;
}

div#hovermenu li li { border:none; width:150px; }
div#hovermenu li li a { padding:2px 2px 2px 10px; }

/*----------pagina area utente----------*/

#email-div, #username-div {
  display: inline-block;
  width: calc(50% - 0.5rem);
}

#username-div {
  float: right;
}

#info {
  background-image: url("../images/area_utente/user.png");
}

#info.checked {
  background-image: url("../images/area_utente/user_brown.png")
}

#bonus {
  background-image: url("../images/area_utente/giftbox.png");
}

#bonus.checked {
  background-image: url("../images/area_utente/giftbox_brown.png");
}

#prenotazioni {
  background-image: url("../images/area_utente/booking.png");
}

#prenotazioni.checked {
  background-image: url("../images/area_utente/booking_brown.png");
}

#acquisti {
  background-image: url("../images/area_utente/shopping-bag.png");
}

#acquisti.checked {
  background-image: url("../images/area_utente/shopping-bag_brown.png");
}

#info-div, #bonus-div, #prenotazioni-div, #acquisti-div {
  margin-bottom: 0;
}

.show-code {
  float: right;
}

.qr-code {
  margin: 0 calc(50% - 75px) 1rem calc(50% - 75px);
}
