@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-size: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-color: #80471C;
  border-style: solid;
  font-family: 'Poppins', sans-serif, 'Arial', sans-serif;
}

body {
  position: relative;
}

h2, h3, h3, h5 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

h4 {
  font-size: 1.125rem;
  margin: 1.125rem 0;
}

h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

p, ul, ol, dl {
  margin: 1rem 0;
}

li ul, li ol, li dl {
  margin: 0;
}

fieldset.subcontainer legend {
  position: relative;
  background-color: white;
  border-width: 1px;
  border-radius: 0.5rem;
}

form .submit {
  width: 80%;
  margin: 1rem auto;
}

label, input, select, button {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}

button {
  display: block;
}

label:nth-child(1) {
  display: inline-block;
  margin-bottom: 0;
}

label + label {
  display: block;
  margin-top: 0;
}

select {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

input[type = "checkbox"], input[type = "checkbox"] + label {
  display: inline-block;
  margin-right: 1rem;
}

input[type = "text"], input[type = "password"], input[type = "email"], input[type = "number"], input[type = "date"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.075);
  transition: background-color .25s;
}

input[type = "text"]:focus, input[type = "email"]:focus, input[type = "number"]:focus, input[type = "password"]:focus, input[type = "date"]:focus {
  background-color: rgba(0, 0, 0, 0.075);
  outline: 2px solid #FFAE42;
  outline-offset: 5px;
}

a, button, input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

input[disabled], input:disabled, button[disabled], button:disabled {
  cursor: default;
}

a {
  color: #1C2833;
}

a:visited {
  color: #360000;
}

#content-wrapper, #content-wrapper + #footer {
  position: relative;
  top: calc(5.5rem + 5px);
}

/*----------regole classi generiche----------*/

.screenreader {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mobile-only {
  display: none;
}

.link {
  padding: 0;
  background: transparent;
  color: #1C2833;
  text-decoration: underline;
}

.text-button {
  display: inline-block;
  width: 100%;
  padding: 1.25em;
  margin: 1em 0;
  border-radius: 1.75em;
  background-color: #80471C;
  line-height: 1;
  text-align: center;
  transition: background-color .25s;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav .text-button {
  display: block;
}

.text-button:hover {
  background-color: #65350F;
}

.text-button, a:visited.text-button {
  color: white;
  text-decoration: none;
}

input[disabled].text-button, input:disabled.text-button, button[disabled].text-button, button:disabled.text-button {
  background-color: #B5AB9E;
}

.button {
  padding: 0;
  background-color: inherit;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  margin: 0;
  padding: 0;
}

.dropdown-content > * {
  padding: 1rem;
  list-style: none;
  display: none;
  border-width: 1px 1px 0 1px;
  background-color: white;
  transition: background-color .25s;
}

.dropdown-content > :nth-last-child(1) {
  border-bottom-width: 1px;
}

.dropdown-content > :hover {background-color: #FCD299;}

.dropdown.focus-within > .dropdown-content > * {
  display: block;
}

.dropbtn.text-button + .dropdown-content {
  top: 4.5rem;
  right: 1.25em;
  text-align: right;
}

.alert-box {
  width: 100%;
  padding: 1rem;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #FFAE42;
}

.success, .danger {
  text-align: center;
  color: white;
}

.success, .success.subcontainer {
  background-color: #00B226;
  border-color: #89FFA3;
}

.danger, .danger.subcontainer {
  background-color: #DC0000;
  border-color: #FEB1B1;
}

.list {
  padding-left: 0;
  list-style: none;
}

.disabled {
  text-decoration: line-through;
  color: #A3A3A3;
}

.allergene {
  font-weight: bold;
  text-decoration: underline 0.25em;
}

dt.allergene {width: 25%;}

.allergene::after {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.allergene-1 {text-decoration-color: #DE8043;}

dt.allergene-1 {background-color: #DE8043;}

.allergene-1::after {content: "Allergene 1 - Glutine";}

.allergene-2 {text-decoration-color: #00ADEF;}

dt.allergene-2 {background-color: #00ADEF;}

.allergene-2::after {content: "Allergene 2 - Crostacei";}

.allergene-3 {text-decoration-color: #FFFF00;}

dt.allergene-3 {background-color: #FFFF00;}

.allergene-3::after {content: "Allergene 3 - Uova";}

.allergene-4 {text-decoration-color: #2C3790;}

dt.allergene-4 {background-color: #2C3790;}

.allergene-4::after {content: "Allergene 4 - Pesce";}

.allergene-5 {text-decoration-color: #B57F50;}

dt.allergene-5 {background-color: #B57F50;}

.allergene-5::after {content: "Allergene 5 - Arachidi";}

.allergene-6 {text-decoration-color: #00A551;}

dt.allergene-6 {background-color: #00A551;}

.allergene-6::after {content: "Allergene 6 - Soia";}

.allergene-7 {text-decoration-color: #FFFFFF;}

dt.allergene-7 {background-color: #FFFFFF;}

.allergene-7::after {content: "Allergene 7 - Latte";}

.allergene-8 {text-decoration-color: #BE5856;}

dt.allergene-8 {background-color: #BE5856;}

.allergene-8::after {content: "Allergene 8 - Frutta a guscio";}

.allergene-9 {text-decoration-color: #80CB28;}

dt.allergene-9 {background-color: #80CB28;}

.allergene-9::after {content: "Allergene 9 - Sedano";}

.allergene-10 {text-decoration-color: #BC9B3C;}

dt.allergene-10 {background-color: #BC9B3C;}

.allergene-10::after {content: "Allergene 10 - Senape";}

.allergene-11 {text-decoration-color: #A4997D;}

dt.allergene-11 {background-color: #A4997D;}

.allergene-11::after {content: "Allergene 11 - Semi di sesamo";}

.allergene-12 {text-decoration-color: #77144B;}

dt.allergene-12 {background-color: #77144B;}

.allergene-12::after {content: "Allergene 12 - Solfiti";}

.allergene-13 {text-decoration-color: #68CFE2;}

dt.allergene-13 {background-color: #68CFE2;}

.allergene-13::after {content: "Allergene 13 - Molluschi";}

.allergene-14 {text-decoration-color: #F7DF65;}

dt.allergene-14 {background-color: #F7DF65;}

.allergene-14::after {content: "Allergene 14 - Lupini";}

/*----------stile header----------*/

#top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: auto;
  padding: 0 16px;
  border-bottom-width: 5px;
  background-color: #FFAE42;
  white-space: nowrap;
}

@media screen and (min-width: 1080px) {
  #nav > li {
    display: inline-block;
  }
}

#nav-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 59px;
  margin: 0;
  background-image: url("../images/hamburger_icon.png");
}

#nav {
  position: static;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

#nav > * {
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: inherit;
}

#breadcrumb {
  display: inline-block;
  position: relative;
  left: 25%;
  width: 75%;
  z-index: 2;
  padding: 0.001rem 1rem;
  border-bottom-width: 1px;
  background-color: #FFAE42;
  text-align: right;
}

/*----------stile footer----------*/

#footer {
  padding: 0 1rem 0.001rem 1rem;
  font-size: .8rem;
  background-color: #FFF68F;
}

#footer > :nth-child(1) {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}

#footer > :nth-child(1) > * {
  padding: .8rem;
}

#sitemap {
  grid-column: 1;
  -ms-grid-column: 1;
}

#info {
  grid-column: 2;
  -ms-grid-column: 2;
}

#cert {
  grid-column: 3;
  -ms-grid-column: 3;
}

#copyright {
  text-align: center;
}

/*----------contenitori generici----------*/

.container {
  position: relative;
  min-height: calc(100vh - 93px);
  border-bottom-width: 1px;
  background-size: cover;
  background-color: #FCD299;
}

.subtitle-panel, .subtitle-fixed-panel {
  display: flex;
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-right-width: 5px;
  background-color: white;
}

.fake-subtitle {
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  border-right-width: 5px;
  background-color: white;
}

.subtitle-panel h2, .subtitle-fixed-panel h2 {
  text-align: center;
}

.subtitle-panel {
  justify-content: center;
}

.subtitle-fixed-panel {
  position: fixed;
  padding-top: 160px;
  justify-content: space-between;
}

.subtitle-fixed-panel * {
  width: 100%;
}

.subcontainers {
  position: relative;
  left: 25%;
  width: 75%;
  padding: 1rem;
}

.next-container {
  width: 40px;
  height: 40px;
  background-image: url("../images/down.png");
}

.subcontainer, .subsubcontainer, .popup-inner {
  padding: 0 1rem;
  border-width: 1px;
  border-radius: 1rem;
}

.subcontainer {
  margin: 1rem 0;
  background-color: white;
}

:not(.subcontainer) > .subcontainer:nth-child(1) {
  margin-top: 0;
}

:not(.subcontainer) > .subcontainer:nth-last-child(1) {
  margin-bottom: 0;
}

.grid-subcontainer {
  display: grid;
  height: 100%;
  padding: 16px;
  column-gap: 16px;
  row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
}

.subsubcontainer {
  position: relative;
  padding-bottom: 41px;
  background-color: #FFAE42;
}

/*----------pagina index----------*/

#news {
  background-image: url("../images/pizza_home.jpg");
  background-position: center;
}

/*----------pagina contatti----------*/

#map {
  width: 100%;
  height: 500px;
  padding: 0;
}

/*----------pagina menù----------*/

#allergeni {
  display: table;
}

.table {
  display: table;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
  border-width: 1px;
}

.table-row > * {
  border-right-width: 1px;
  padding: 1rem;
}

#allergeni dt, #allergeni dd {
  display: table-cell;
}

#payment {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#payment > * {
  width: 49%;
}

/*----------pagina login e signup----------*/

#login-container {
  display: flex;
  min-height: 750px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_background.jpg");
}

#login-form, #signup-form {
  height: 100%;
  width: 480px;
  padding: 3rem;
  background-color: #F5EF42;
  border-width: 1px;
  border-radius: 1rem;
}

#signup-container {
  display: flex;
  min-height: 750px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_background.jpg");
}

/*----------pagina admin----------------*/

.categoriePrinc {
	box-shadow: 2px 2px 4px black;
}

.categoriePrinc, .categoriePrinc ul {
  padding: 0;
	list-style-type: none;
}

.tipiCateg > h3 {
	margin: 0;
  padding: 1.25rem;
	background-color: #bf7b21;
}

.tipiCateg li {
  padding-left: 16px;
}

.tipiAzione > h3 {
	margin: 0;
  padding: 1.25rem;
	background-color: #bf7b21;
}

.tipiAzione li {
  padding-left: 16px;
}

.tipiAzione * {
	color: #000000;
  text-decoration: none;
}

.slidePizza, .slideBevanda, .aggiungiPizza, .aggiungiBevanda, .aggiungiDolce, .aggiungiIngrediente, .eliminaPizza, .eliminaBevanda, .eliminaDolce, .eliminaIngrediente, .modificaPizza, .modificaBevanda, .modificaDolce, .modificaIngrediente {
  padding: 16px;
}


div.idIng, input[type = "text"].idIng, input[type = "text"].invIdIng, div.idIngUpd, input[type = "text"].idIngUpd, div.idIngdel, input[type = "text"].idIngdel,  input[type = "text"].invisibile{
  display: none;
}

.pizza-link {

  background: none;
  border: none;
  padding: 0px;
  color: #3097D1;
  font: inherit;

}

.pizza-link:hover {

  color: #216a94;
  text-decoration: underline;
  cursor: pointer;
}

.subsubcontaineradmin {
  padding: 0 1rem;
  border-width: 1px;
  border-radius: 1rem;
  background-color: white;
}

.subsubcontaineradmin input[type = "text"]{
  width: auto;
  display: inline-block;
}

.subsubcontaineradmin input[type = "checkbox"]{
  margin-left: 20px;
}

.grid-subcontaineradmin {
  display: grid;
  display: -ms-grid;
  height: 100%;
  padding: 16px;
  column-gap: 3px;
  row-gap: 3px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
}

.post {
  width: 80%;
  margin: 4rem 10%;
}
.post {
  width: 80%;
  margin: 4rem 10%;
}

.post a {
  text-decoration: none;
}

/*----------pagina area utente----------*/

#email-div, #username-div {
  display: inline-block;
  width: calc(50% - 0.5rem);
}

#username-div {
  float: right;
}

.qr-code {
  margin: 0 calc(50% - 75px) 1rem calc(50% - 75px);
}
